<app-header-menu></app-header-menu>
<div class= "content-wrapper">
    <h2>Tasks</h2>
    <div *ngIf="addFormVisible === true"  class="add-container">
        <app-task-form (createdItem) = saveTask($event) [item] = emptyTask></app-task-form>
    </div>
    <div *ngFor="let _task of tasks">
       <app-task [task]="_task" (removedTask) = removeTask($event) (hasChanges) = setChangesState($event)></app-task>
       <mat-divider></mat-divider>
    </div>
    <button mat-fab color="primary" (click)="showAddForm()" class="add-button fixed">
        <mat-icon>add</mat-icon>
    </button>
</div>