<div class="item-wrapper">
    <div class='item'>
        <h3>{{team.name | capitalize }}</h3>
        <span>id: {{team.id}}</span>
        <span>name: {{team.name}}</span>
        <span>created: {{team.createdAt | dateLessonTaskFromDate}}</span>
    </div>
    <app-team-form *ngIf="editMode === true" [item] = team (createdItem) = saveTeam($event)></app-team-form>
    <div class='actions'>
        <button  mat-button color="primary" (click)="editTeam()">
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-button color="primary" (click)="deleteTeam()">
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </div>
</div>
