
.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #0258ad 100%);
    color: #ffffff;
   
}


nav {
    width: 50%;
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}