<nav>
    <a class="mat-raised-button" routerLink="/projects" routerLinkActive="activebutton">Projects</a>
    <a class="mat-raised-button" routerLink="/teams" routerLinkActive="activebutton">Teams</a>
    <a class="mat-raised-button" routerLink="/users" routerLinkActive="activebutton">Users</a>
    <a class="mat-raised-button" routerLink="/tasks" routerLinkActive="activebutton">Tasks</a>
  </nav>
