<form name="projectForm" class="edit-form">           
    <mat-form-field appearance="fill">
        <input name="projectId" [(ngModel)]="item.id" [readonly]="editMode === true" required matInput type="number" placeholder="projectId">      
    </mat-form-field>                    
    <mat-form-field appearance="fill">
        <input name="name"  [(ngModel)]="item.name" required matInput placeholder="name">      
    </mat-form-field>                  
    <mat-form-field appearance="fill" class="full-width">
        <input  name="description"  [(ngModel)]="item.description" matInput placeholder="description">
    </mat-form-field>                   
    <mat-form-field appearance="fill">
    <input name="authorId"  [(ngModel)]="item.authorId" matInput required type="number" placeholder="authorId">      
    </mat-form-field>                                     
    <mat-form-field appearance="fill">
        <input name="teamId"  [(ngModel)]="item.teamId" matInput required type="number" placeholder="teamId">      
    </mat-form-field>                   
    <mat-form-field appearance="fill">
        <mat-label>Choose deadline</mat-label>
        <input name="date" matInput [matDatepicker]="picker" [(ngModel)]="item.deadline">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  
    </mat-form-field>     
</form>
<div class="actions">
<button mat-button color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
</button>
<button mat-button color="primary" (click)="cancelEdit()">
    <mat-icon>undo</mat-icon>
</button>
<button mat-button color="primary" *ngIf="editMode === false" (click)="clearForm()">
    <mat-icon>cancel</mat-icon>
</button>
</div>
