<div class="item-wrapper">
    <div class='item' *ngIf="editMode === false" >
        <h3>{{project.name | capitalize}}</h3>
        <span>id: {{project.id}}</span>
        <span>name: {{project.name}}</span>
        <span>description: {{project.description}} </span>       
        <span>created: {{project.createdAt | dateLessonTaskFromDate}}</span>
        <span>created: {{project.deadline}}</span>
    </div>
    <app-add-project-form *ngIf="editMode === true" [item] = project (createdItem) = saveProject($event)></app-add-project-form>
    <div class='actions'>
        <button  mat-button color="primary" (click)="editProject()">
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-button color="primary" (click)="deleteProject()">
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </div>
</div>
