<form name="projectForm" class="example-form">           
    <mat-form-field appearance="fill">
        <input name="userId" [(ngModel)]="item.id" [readonly]="editMode === true" required matInput type="number" placeholder="userId">      
    </mat-form-field>                    
    <mat-form-field appearance="fill">
        <input name="firstName"  [(ngModel)]="item.firstName" required matInput placeholder="firstName">      
    </mat-form-field>                  
    <mat-form-field appearance="fill" class="full-width">
        <input  name="lastName"  [(ngModel)]="item.lastName" matInput placeholder="lastName">
    </mat-form-field>                   
    <mat-form-field appearance="fill">
    <input name="email"  [(ngModel)]="item.email" matInput required type="email" placeholder="email">      
    </mat-form-field>                                     
    <mat-form-field appearance="fill">
        <input name="teamId"  [(ngModel)]="item.teamId" matInput required type="number" placeholder="teamId">      
    </mat-form-field>                   
    <mat-form-field appearance="fill">
        <mat-label>Choose birthday</mat-label>
        <input name="date" matInput [matDatepicker]="picker" [(ngModel)]="item.birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose registeredAt</mat-label>
        <input name="dateRegistered" matInput [matDatepicker]="registered" [(ngModel)]="item.registeredAt">
        <mat-datepicker-toggle matSuffix [for]="registered"></mat-datepicker-toggle>
        <mat-datepicker #registered></mat-datepicker>  
    </mat-form-field>   
</form>
<div class="actions">
<button mat-button color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
</button>
<button mat-button color="primary" (click)="cancelEdit()">
    <mat-icon>undo</mat-icon>
</button>
<button mat-button color="primary" *ngIf="editMode === false" (click)="clearForm()">
    <mat-icon>cancel</mat-icon>
</button>
</div>
