<form name="taskForm" class="example-form">           
    <mat-form-field appearance="fill">
        <input name="taskId" [(ngModel)]="item.id" [readonly]="editMode === true" required matInput type="number" placeholder="taskId">      
    </mat-form-field>                    
    <mat-form-field appearance="fill">
        <input name="name"  [(ngModel)]="item.name" required matInput placeholder="name">      
    </mat-form-field>                  
    <mat-form-field appearance="fill" class="full-width">
        <input  name="description"  [(ngModel)]="item.description" matInput placeholder="description">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <input  name="state"  [(ngModel)]="item.state" matInput type="number" placeholder="state">
    </mat-form-field>                              
    <mat-form-field appearance="fill">
    <input name="performerId"  [(ngModel)]="item.performerId" matInput required type="number" placeholder="performerId">      
    </mat-form-field>                                     
    <mat-form-field appearance="fill">
        <input name="projectId"  [(ngModel)]="item.projectId" matInput required type="number" placeholder="projectId">      
    </mat-form-field>                   
    <mat-form-field appearance="fill">
        <mat-label>Choose start</mat-label>
        <input name="dateStart" matInput [matDatepicker]="picker" [(ngModel)]="item.createdAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  
    </mat-form-field>     
    <mat-form-field appearance="fill">
        <mat-label>Choose finish date</mat-label>
        <input name="dateFinish" matInput [matDatepicker]="pickerFinish" [(ngModel)]="item.finishedAt">
        <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinish></mat-datepicker>  
    </mat-form-field>     
</form>
<div class="actions">
<button mat-button color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
</button>
<button mat-button color="primary" (click)="cancelEdit()">
    <mat-icon>undo</mat-icon>
</button>
<button mat-button color="primary" *ngIf="editMode === false" (click)="clearForm()">
    <mat-icon>cancel</mat-icon>
</button>
</div>

