<form name="teamForm" class="example-form">           
    <mat-form-field appearance="fill">
        <input name="teamId" [(ngModel)]="item.id" [readonly]="editMode === true" required matInput type="number" placeholder="teamId">      
    </mat-form-field>                    
    <mat-form-field appearance="fill">
        <input name="name"  [(ngModel)]="item.name" required matInput placeholder="name">      
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Created at</mat-label>
        <input name="dateStart" matInput [matDatepicker]="picker" [(ngModel)]="item.createdAt">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  
    </mat-form-field>        
</form>
<div class="actions">
<button mat-button color="primary" (click)="saveItem()">
    <mat-icon>save</mat-icon>
</button>
<button mat-button color="primary" (click)="cancelEdit()">
    <mat-icon>undo</mat-icon>
</button>
<button mat-button color="primary" *ngIf="editMode === false" (click)="clearForm()">
    <mat-icon>cancel</mat-icon>
</button>
</div>

