<div class="item-wrapper">
    <div class='item' *ngIf="editMode === false" >
        <h3>{{user.firstName  | capitalize}} {{user.lastName  | capitalize}}</h3>
        <span>id: {{user.id}}</span>
        <span>firstName: {{user.firstName}}</span>
        <span>lastName: {{user.lastName}} </span>       
        <span>teamId: {{user.teamId}} </span>       
        <span>birthday: {{user.birthday | dateLessonTaskFromDate}}</span>
        <span>registered: {{user.registeredAt}}</span>
    </div>
    <app-user-form *ngIf="editMode === true" [item] = user (createdItem) = saveUser($event)></app-user-form>
    <div class='actions'>
        <button  mat-button color="primary" (click)="editUser()">
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-button color="primary" (click)="deleteUser()">
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </div>
</div>

