<app-header-menu></app-header-menu>
<div class= "content-wrapper">
    <h2>Teams</h2>
    <div *ngIf="addFormVisible === true"  class="add-container">
        <app-team-form (createdItem) = saveTeam($event) [item] = emptyTeam></app-team-form>
    </div>
    <div *ngFor="let _team of teams">
       <app-team [team]="_team" (removedTeam) = removeTeam($event) (hasChanges) = setChangesState($event)></app-team>
       <mat-divider></mat-divider>
    </div>
    <button mat-fab color="primary" (click)="showAddForm()" class="add-button fixed">
        <mat-icon>add</mat-icon>
    </button>
</div>
