<app-header-menu></app-header-menu>
<div class= "content-wrapper">
    <h2>Projects</h2>
    <div *ngIf="addFormVisible === true"  class="add-container">
        <app-add-project-form (createdItem) = saveProject($event) [item] = emptyProject></app-add-project-form>
    </div>
    <div *ngFor="let _project of projects">
       <app-project [project]="_project" (removedProject) = removeProject($event) (hasChanges) = setChangesState($event)></app-project>
       <mat-divider></mat-divider>
    </div>
    <button mat-fab color="primary" (click)="showAddForm()" class="add-button fixed">
        <mat-icon>add</mat-icon>
    </button>
</div>
