<div class="item-wrapper">
    <div class='item'>
        <h3>{{task.name | capitalize}}</h3>
        <span>id: {{task.id}}</span>
        <span>name: {{task.name}}</span>
        <span>description: {{task.description}} </span>
        <span appTaskState [state]="task.state">state {{task.state}}</span>
        <span>projectId: {{task.projectId}} </span>
        <span>performerId: {{task.performerId}} </span>
        <span>created: {{task.createdAt | dateLessonTaskFromDate}}</span>
        <span>finished: {{task.finishedAt}}</span>
    </div>
    <app-task-form *ngIf="editMode === true" [item] = task (createdItem) = saveTask($event)></app-task-form>
    <div class='actions'>
        <button  mat-button color="primary" (click)="editTask()">
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-button color="primary" (click)="deleteTask()">
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </div>
</div>
