<app-header-menu></app-header-menu>
<div class= "content-wrapper">
    <h2>Users</h2>
    <div *ngIf="addFormVisible === true"  class="add-container">
        <app-user-form (createdItem) = saveUser($event) [item] = emptyUser></app-user-form>
    </div>
    <div *ngFor="let _user of users">
       <app-user [user]="_user" (removedUser) = removeUser($event) (hasChanges) = setChangesState($event)></app-user>
       <mat-divider></mat-divider>
    </div>
    <button mat-fab color="primary" (click)="showAddForm()" class="add-button fixed">
        <mat-icon>add</mat-icon>
    </button>
</div>
