@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        max-width: 600px;
  }
  
  .full-width {
    grid-column: 1 / 3;   
}
  
  td {
    padding-right: 8px;
  }

.content-wrapper {
    padding: 10px;
}

.add-button {    
    position: fixed!important;
    bottom: 50px;
    right: 50px;
}

.actions button:hover{
    cursor: pointer;
}

.description-textarea {
    width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
